<div id="progressoCurso" class="flex-wrap ms-auto">
    <div class="d-flex align-items-center text-end">
        <h4 class="d-inline-block m-0 me-1">Neste curso você tem {{completeModulesReceived}}/{{totalModulesReceived}}</h4>
        <i class="fa-solid fa-medal" [ngClass]="{'completeCourse':completeModulesReceived === totalModulesReceived}"></i>
    </div>
    <div class="progress mt-2" style="height: 8px;">
        <div class="progress-bar position-relative" role="progressbar" aria-label="Basic example" [style.width.%]="progressPercentageReceived" [attr.aria-valuenow]="progressPercentageReceived" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>