<div class="container mt-3">
  <div id="topContentPage" class="d-flex">
    <div class="flex-fill">
      <button
        id="voltarTodosCursos"
        class="btn btn-link p-0"
        style="--bs-btn-line-height: 20px"
      >
        <i class="bi bi-caret-left-fill pe-1"></i>
        Todos os cursos
      </button>
      <h2>Introdução a criação de websites com HTML5 e CSS3</h2>
    </div>
    <app-course-progress></app-course-progress>
  </div>
  <div id="contentPage">
    <div class="accordion" id="accordionLessons">
      <div class="accordion-item">
        <h2 class="accordion-header" id="lesson-1">
          <div class="squareIcon">
            <i class="fa-brands fa-html5"></i>
          </div>
          <button
            class="accordion-button gradient"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-1"
            aria-expanded="true"
            aria-controls="collapse-1"
          >
            Introdução ao curso de HTML
            <i class="fa-solid fa-medal"></i>
          </button>
        </h2>
        <div
          id="collapse-1"
          class="accordion-collapse collapse show"
          aria-labelledby="lesson-1"
          data-bs-parent="#accordionLessons"
        >
          <div class="accordion-body">
            <video
              class="w-100"
              height="380"
              controls="controls"
              autoplay="autoplay"
            ></video>
            <div class="aboutLesson">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </div>
            <div class="questionsLesson mt-3">
              <strong>Why do we use it?</strong>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-1"
                />
                <label class="form-check-label" for="flexRadioDefault1-1">
                  Paragraphs
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-2"
                />
                <label class="form-check-label" for="flexRadioDefault1-2">
                  Words
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-3"
                />
                <label class="form-check-label" for="flexRadioDefault1-3">
                  Bytes
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-4"
                />
                <label class="form-check-label" for="flexRadioDefault1-4">
                  Lists
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-5"
                />
                <label class="form-check-label" for="flexRadioDefault1-5">
                  Texts
                </label>
              </div>
            </div>
            <div
              class="alert alert-success mt-3 py-1 d-flex align-items-center"
              role="alert"
            >
              <i class="bi bi-check-circle-fill d-inline-block"></i>
              Parabéns, resposta correta!
            </div>
            <button class="btn btn-red">Próxima aula</button>
          </div>
        </div>
      </div>
      <div class="accordion-item position-relative">
        <h2 class="accordion-header" id="lesson-2">
          <div class="squareIcon">
            <i class="bi bi-box-fill"></i>
          </div>
          <button
            class="accordion-button gradient collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-2"
            aria-expanded="false"
            aria-controls="collapse-2"
          >
            Entendendo o que é semântica
            <i class="fa-solid fa-medal"></i>
          </button>
        </h2>
        <div
          id="collapse-2"
          class="accordion-collapse collapse"
          aria-labelledby="lesson-2"
          data-bs-parent="#accordionLessons"
        >
          <div class="accordion-body">
            <video
              class="w-100"
              height="380"
              controls="controls"
              autoplay="autoplay"
            ></video>
            <div class="aboutLesson">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </div>
            <div class="questionsLesson mt-3">
              <strong>Why do we use it?</strong>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-1"
                />
                <label class="form-check-label" for="flexRadioDefault1-1">
                  Paragraphs
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-2"
                />
                <label class="form-check-label" for="flexRadioDefault1-2">
                  Words
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-3"
                />
                <label class="form-check-label" for="flexRadioDefault1-3">
                  Bytes
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-4"
                />
                <label class="form-check-label" for="flexRadioDefault1-4">
                  Lists
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-5"
                />
                <label class="form-check-label" for="flexRadioDefault1-5">
                  Texts
                </label>
              </div>
            </div>
            <div
              class="alert alert-success mt-3 py-1 d-flex align-items-center"
              role="alert"
            >
              <i class="bi bi-check-circle-fill d-inline-block"></i>
              Parabéns, resposta correta!
            </div>
            <button class="btn btn-red">Próxima aula</button>
          </div>
        </div>
      </div>
      <div class="accordion-item position-relative">
        <h2 class="accordion-header" id="lesson-3">
          <div class="squareIcon">
            <span class="material-icons"> format_color_text </span>
          </div>
          <button
            class="accordion-button gradient collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-3"
            aria-expanded="false"
            aria-controls="collapse-3"
          >
            Como usar textos e links em HTML
            <i class="fa-solid fa-medal"></i>
          </button>
        </h2>
        <div
          id="collapse-3"
          class="accordion-collapse collapse"
          aria-labelledby="lesson-3"
          data-bs-parent="#accordionLessons"
        >
          <div class="accordion-body">
            <video
              class="w-100"
              height="380"
              controls="controls"
              autoplay="autoplay"
            ></video>
            <div class="aboutLesson">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </div>
            <div class="questionsLesson mt-3">
              <strong>Why do we use it?</strong>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-1"
                />
                <label class="form-check-label" for="flexRadioDefault1-1">
                  Paragraphs
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-2"
                />
                <label class="form-check-label" for="flexRadioDefault1-2">
                  Words
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-3"
                />
                <label class="form-check-label" for="flexRadioDefault1-3">
                  Bytes
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-4"
                />
                <label class="form-check-label" for="flexRadioDefault1-4">
                  Lists
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-5"
                />
                <label class="form-check-label" for="flexRadioDefault1-5">
                  Texts
                </label>
              </div>
            </div>
            <div
              class="alert alert-success mt-3 py-1 d-flex align-items-center"
              role="alert"
            >
              <i class="bi bi-check-circle-fill d-inline-block"></i>
              Parabéns, resposta correta!
            </div>
            <button class="btn btn-red">Próxima aula</button>
          </div>
        </div>
      </div>
      <div class="accordion-item position-relative">
        <h2 class="accordion-header" id="lesson-4">
          <div class="squareIcon">
            <i class="bi bi-card-image"></i>
          </div>
          <button
            class="accordion-button gradient collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-4"
            aria-expanded="false"
            aria-controls="collapse-4"
          >
            Como inserir imagens em seu site
          </button>
        </h2>
        <div
          id="collapse-4"
          class="accordion-collapse collapse"
          aria-labelledby="lesson-4"
          data-bs-parent="#accordionLessons"
        >
          <div class="accordion-body">
            <video
              class="w-100"
              height="380"
              controls="controls"
              autoplay="autoplay"
            ></video>
            <div class="aboutLesson">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </div>
            <div class="questionsLesson mt-3">
              <strong>Why do we use it?</strong>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-1"
                />
                <label class="form-check-label" for="flexRadioDefault1-1">
                  Paragraphs
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-2"
                />
                <label class="form-check-label" for="flexRadioDefault1-2">
                  Words
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-3"
                />
                <label class="form-check-label" for="flexRadioDefault1-3">
                  Bytes
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-4"
                />
                <label class="form-check-label" for="flexRadioDefault1-4">
                  Lists
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-5"
                />
                <label class="form-check-label" for="flexRadioDefault1-5">
                  Texts
                </label>
              </div>
            </div>
            <div
              class="alert alert-success mt-3 py-1 d-flex align-items-center"
              role="alert"
            >
              <i class="bi bi-check-circle-fill d-inline-block"></i>
              Parabéns, resposta correta!
            </div>
            <button class="btn btn-red">Próxima aula</button>
          </div>
        </div>
      </div>
      <div class="accordion-item position-relative">
        <h2 class="accordion-header" id="lesson-5">
          <div class="squareIcon">
            <span class="material-icons"> format_list_numbered </span>
          </div>
          <button
            class="accordion-button gradient collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-5"
            aria-expanded="false"
            aria-controls="collapse-5"
          >
            Como organizar listas com HTML
          </button>
        </h2>
        <div
          id="collapse-5"
          class="accordion-collapse collapse"
          aria-labelledby="lesson-5"
          data-bs-parent="#accordionLessons"
        >
          <div class="accordion-body">
            <video
              class="w-100"
              height="380"
              controls="controls"
              autoplay="autoplay"
            ></video>
            <div class="aboutLesson">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </div>
            <div class="questionsLesson mt-3">
              <strong>Why do we use it?</strong>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-1"
                />
                <label class="form-check-label" for="flexRadioDefault1-1">
                  Paragraphs
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-2"
                />
                <label class="form-check-label" for="flexRadioDefault1-2">
                  Words
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-3"
                />
                <label class="form-check-label" for="flexRadioDefault1-3">
                  Bytes
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-4"
                />
                <label class="form-check-label" for="flexRadioDefault1-4">
                  Lists
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-5"
                />
                <label class="form-check-label" for="flexRadioDefault1-5">
                  Texts
                </label>
              </div>
            </div>
            <div
              class="alert alert-success mt-3 py-1 d-flex align-items-center"
              role="alert"
            >
              <i class="bi bi-check-circle-fill d-inline-block"></i>
              Parabéns, resposta correta!
            </div>
            <button class="btn btn-red">Próxima aula</button>
          </div>
        </div>
      </div>
      <div class="accordion-item position-relative">
        <h2 class="accordion-header" id="lesson-6">
          <div class="squareIcon">
            <i class="fa-brands fa-css3-alt"></i>
          </div>
          <button
            class="accordion-button gradient collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-6"
            aria-expanded="false"
            aria-controls="collapse-6"
          >
            Introdução e conceitos básicos do CSS 3
            <i class="fa-solid fa-medal"></i>
          </button>
        </h2>
        <div
          id="collapse-6"
          class="accordion-collapse collapse"
          aria-labelledby="lesson-6"
          data-bs-parent="#accordionLessons"
        >
          <div class="accordion-body">
            <video
              class="w-100"
              height="380"
              controls="controls"
              autoplay="autoplay"
            ></video>
            <div class="aboutLesson">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </div>
            <div class="questionsLesson mt-3">
              <strong>Why do we use it?</strong>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-1"
                />
                <label class="form-check-label" for="flexRadioDefault1-1">
                  Paragraphs
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-2"
                />
                <label class="form-check-label" for="flexRadioDefault1-2">
                  Words
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-3"
                />
                <label class="form-check-label" for="flexRadioDefault1-3">
                  Bytes
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-4"
                />
                <label class="form-check-label" for="flexRadioDefault1-4">
                  Lists
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-5"
                />
                <label class="form-check-label" for="flexRadioDefault1-5">
                  Texts
                </label>
              </div>
            </div>
            <div
              class="alert alert-success mt-3 py-1 d-flex align-items-center"
              role="alert"
            >
              <i class="bi bi-check-circle-fill d-inline-block"></i>
              Parabéns, resposta correta!
            </div>
            <button class="btn btn-red">Próxima aula</button>
          </div>
        </div>
      </div>
      <div class="accordion-item position-relative">
        <h2 class="accordion-header" id="lesson-7">
          <div class="squareIcon">
            <i class="fa-solid fa-fill-drip"></i>
          </div>
          <button
            class="accordion-button gradient collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-7"
            aria-expanded="false"
            aria-controls="collapse-7"
          >
            Estilizando elementos, textos e listas
          </button>
        </h2>
        <div
          id="collapse-7"
          class="accordion-collapse collapse"
          aria-labelledby="lesson-7"
          data-bs-parent="#accordionLessons"
        >
          <div class="accordion-body">
            <video
              class="w-100"
              height="380"
              controls="controls"
              autoplay="autoplay"
            ></video>
            <div class="aboutLesson">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </div>
            <div class="questionsLesson mt-3">
              <strong>Why do we use it?</strong>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-1"
                />
                <label class="form-check-label" for="flexRadioDefault1-1">
                  Paragraphs
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-2"
                />
                <label class="form-check-label" for="flexRadioDefault1-2">
                  Words
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-3"
                />
                <label class="form-check-label" for="flexRadioDefault1-3">
                  Bytes
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-4"
                />
                <label class="form-check-label" for="flexRadioDefault1-4">
                  Lists
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-5"
                />
                <label class="form-check-label" for="flexRadioDefault1-5">
                  Texts
                </label>
              </div>
            </div>
            <div
              class="alert alert-success mt-3 py-1 d-flex align-items-center"
              role="alert"
            >
              <i class="bi bi-check-circle-fill d-inline-block"></i>
              Parabéns, resposta correta!
            </div>
            <button class="btn btn-red">Próxima aula</button>
          </div>
        </div>
      </div>
      <div class="accordion-item position-relative">
        <h2 class="accordion-header" id="lesson-8">
          <div class="squareIcon">
            <span class="material-icons"> square_foot </span>
          </div>
          <button
            class="accordion-button gradient collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-8"
            aria-expanded="false"
            aria-controls="collapse-8"
          >
            Dimensão e alinhamento
            <i class="fa-solid fa-medal"></i>
          </button>
        </h2>
        <div
          id="collapse-8"
          class="accordion-collapse collapse"
          aria-labelledby="lesson-8"
          data-bs-parent="#accordionLessons"
        >
          <div class="accordion-body">
            <video
              class="w-100"
              height="380"
              controls="controls"
              autoplay="autoplay"
            ></video>
            <div class="aboutLesson">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </div>
            <div class="questionsLesson mt-3">
              <strong>Why do we use it?</strong>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-1"
                />
                <label class="form-check-label" for="flexRadioDefault1-1">
                  Paragraphs
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-2"
                />
                <label class="form-check-label" for="flexRadioDefault1-2">
                  Words
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-3"
                />
                <label class="form-check-label" for="flexRadioDefault1-3">
                  Bytes
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-4"
                />
                <label class="form-check-label" for="flexRadioDefault1-4">
                  Lists
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-5"
                />
                <label class="form-check-label" for="flexRadioDefault1-5">
                  Texts
                </label>
              </div>
            </div>
            <div
              class="alert alert-success mt-3 py-1 d-flex align-items-center"
              role="alert"
            >
              <i class="bi bi-check-circle-fill d-inline-block"></i>
              Parabéns, resposta correta!
            </div>
            <button class="btn btn-red">Próxima aula</button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-5">
        <button class="btn btn-red me-3">
            Voltar e escolher outro curso da trilha
        </button>
        <button class="btn btn-red">
            Continuar sequência da trilha do HTML 5
        </button>
    </div>
  </div>

  <!-- <div id="contentPage">
    <div class="accordion" id="accordionLessons">
      <div class="accordion-item" *ngFor="let item of lessons">
        <h2 class="accordion-header" id="lesson-1">
          <div class="squareIcon">
            <i class="fa-brands fa-html5"></i>
          </div>
          <button
            class="accordion-button gradient"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-1"
            aria-expanded="true"
            aria-controls="collapse-1"
          >
            {{ item.title }}
            <i class="fa-solid fa-medal" *ngIf="item.statusComplete"></i>
          </button>
        </h2>
        <div
          id="collapse-1"
          class="accordion-collapse collapse show"
          aria-labelledby="lesson-1"
          data-bs-parent="#accordionLessons"
        >
          <div class="accordion-body">
            <video
              class="w-100"
              height="380"
              controls="controls"
              autoplay="autoplay"
            ></video>
            <div class="aboutLesson">
              {{item.description}}
            </div>
            <div class="questionsLesson mt-3">
              <strong>Why do we use it?</strong>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-1"
                />
                <label class="form-check-label" for="flexRadioDefault1-1">
                  Paragraphs
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-2"
                />
                <label class="form-check-label" for="flexRadioDefault1-2">
                  Words
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-3"
                />
                <label class="form-check-label" for="flexRadioDefault1-3">
                  Bytes
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-4"
                />
                <label class="form-check-label" for="flexRadioDefault1-4">
                  Lists
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1-5"
                />
                <label class="form-check-label" for="flexRadioDefault1-5">
                  Texts
                </label>
              </div>
            </div>
            <div
              class="alert alert-success mt-3 py-1 d-flex align-items-center"
              role="alert"
            >
              <i class="bi bi-check-circle-fill d-inline-block"></i>
              Parabéns, resposta correta!
            </div>
            <button class="btn btn-red">Próxima aula</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
