<div class="container mt-3">
    <div id="topContentPage" class="d-flex">
      <div class="flex-fill">
        <button
          id="voltarTodosCursos"
          class="btn btn-link p-0"
          style="--bs-btn-line-height: 20px"
          [routerLink]="['/all-courses']"
        >
          <i class="bi bi-caret-left-fill pe-1"></i>
          Todos os cursos
        </button>
        <h2>{{titleLesson}}</h2>
      </div>
      <app-course-progress></app-course-progress>
    </div>
    <div id="contentPage">
      <app-lesson-module></app-lesson-module>
      <div class="d-flex justify-content-end mt-5">
          <button class="btn btn-red me-3" [routerLink]="['/all-courses']">
              Voltar e escolher outro curso da trilha
          </button>
          <button class="btn btn-red">
              Continuar sequência da trilha do HTML 5
          </button>
      </div>
    </div>
  </div>
  